.ui-theme-settings {
    position: fixed;
    z-index: 155;
    right: -30px;
    top: 0;
    height: 100vh;
    transform: translate(500px);
    transition: all .2s;
    box-shadow: -0.46875rem 0 2.1875rem rgba(4, 9, 20, 0.03), -0.9375rem 0 1.40625rem rgba(4, 9, 20, 0.03), -0.25rem 0 0.53125rem rgba(4, 9, 20, 0.05), -0.125rem 0 0.1875rem rgba(4, 9, 20, 0.03)
}

.ui-theme-settings .btn-open-options {
    border-radius: 50px;
    position: absolute;
    left: -114px;
    bottom: 80px;
    padding: 0;
    height: 64px;
    line-height: 54px;
    width: 64px;
    text-align: center;
    display: block;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    margin-top: -27px
}

.ui-theme-settings .btn-open-options svg {
    top: 30%;
    left: 30%;
    position: absolute;
    margin: -0.5em 0 0 -0.5em
}

.ui-theme-settings .theme-settings__inner {
    background: #fff;
    width: 500px;
    height: 100vh;
    padding: 0
}

.ui-theme-settings.settings-open {
    transform: translate(0);
    right: 0
}

.ui-theme-settings .theme-settings-swatches {
    text-align: center
}

.ui-theme-settings .theme-settings-swatches .swatch-holder-img {
    width: 72px;
    height: auto;
    border-radius: 3px
}

.ui-theme-settings .theme-settings-swatches .swatch-holder-img img {
    width: 100%
}

.ui-theme-settings .themeoptions-heading {
    font-size: 1.1rem;
    color: #495057;
    margin: 0;
    background: #f8f9fa;
    padding: .75rem 1.5rem;
    border-bottom: #dee2e6 solid 1px;
    border-top: #dee2e6 solid 1px;
    display: flex;
    align-items: center;
    align-content: center
}

.ui-theme-settings .themeoptions-heading:first-child {
    border-top: 0
}

.ui-theme-settings .list-group-item h5 {
    color: #3f6ad8;
    font-size: .968rem;
    text-transform: uppercase;
    margin: 0;
    text-align: center
}

.nav .badge {
    margin-left: 8px;
}

.badge {
    position: absolute;
    top: -3px;
    right: -3px;
    padding: 4px 5px;
    border-radius: 1rem !important;
    background-color: red;
    color: white;
}

.badge {
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    min-width: 19px;
}

.box-noti {
    background-color: aliceblue;
    min-width: 30rem;
    border: 1px solid rgba(0, 123, 255, 0.25);
    border-radius: 5px;
}

.header-noti {
    text-align: center;
    font-weight: 600;
    padding-bottom: 0.5rem;
    font-size: 16px;
    border-bottom: 1px solid gray;
}

.footer-noti {
    text-align: center;
    font-weight: 600;
    padding-top: 0.5rem;
    font-size: 16px;
    border-top: 1px solid gray;
}

.main-noti {
    text-align: center !important;
    display: block !important;
    font-weight: 600;
    min-height: 30px;
    list-style-type: none;
}

.main-noti>ul {
    list-style-type: none;
    margin: 5px 5px 5px 5px;
    padding: 5px;
}

.main-noti>ul>li {
    border-bottom: 0.01rem solid cornflowerblue;
}

.footer-noti>a {
    color: black;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

.colo-blue {
    background-color: aliceblue !important;
}

.search {
    display: table-header-group !important;
}

.hihi {
    padding: 5px !important;
}

.table>td .table>th {
    padding: 0.25rem !important;
}